*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
 background-color: #18233e;
}
.container{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 200px auto;
 
}
.bird-main{
  position: relative;
  width: 250px;
  height: 250px;
  
}
.first-part{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  animation: birdAnimation1 3s ease-in-out infinite ;
}

.first-part-inner{
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  left: 50%;
  border-radius: 0 130px 130px 0;
  background-image: url('https://img.freepik.com/free-vector/abstract-background-red_1078-436.jpg?size=626&ext=jpg');
}
.second-part{
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.second-part-inner{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  animation: birdAnimation2 3s ease-in-out infinite ;
}
.second-part-sub{
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 50%;
  background-color: #fff;
  border-radius: 0px 90px 90px 0px;
}
.third-part{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  animation: birdAnimation3 3s ease-in-out infinite ;
}

.third-part-inner{
  position: absolute;
  width: 50%;
  height: 50%;
  top: 50%;
  left: 50%;
  border-radius: 0 0 90px 0;
  background-color: #e7e7e7;
}
.fourth-part{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  animation: birdAnimation4 3s ease-in-out infinite ;
}

.fourth-part-inner{
  position: absolute;
  width: 50%;
  height: 50%;
  top:0;
  left: 0;
  border-radius: 90px 0 0 0;
  background-color: #f6ce41;
}
.fifth-part{
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 3;

  animation: birdAnimation5 3s ease-in-out infinite ;
}

.fifth-part-inner{
  position: absolute;
  width: 25%;
  height: 25%;
  top:50%;
  left: 25%;
  border-radius: 0  0 0 90px;
  background-color: #f7a501;
}
.eyes{
  position: absolute;
  width: 25%;
  height: 25%;
  top:15%;
  left:55%;
  z-index: 4;
  border-radius: 50%;
  background-color: #000000;
  animation: birdAnimation6 1.5s ease-in-out infinite alternate;
}
.bird-main:hover .eyes{
  left: 5%;
}
@keyframes birdAnimation1{
  0%{
    transform: rotate(-360deg);
  }
  15%{
    transform: rotate(-360deg);
  }
  35%{
    transform: rotate(-180deg);
  }
  65%{
    transform: rotate(-180deg);

  }
  85%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes birdAnimation2{
  0%{
    transform: rotate(0deg);
  }
  15%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(-180deg);
  }
  65%{
    transform: rotate(-180deg);

  }
  85%{
    transform: rotate(-360deg);
  }
  100%{
    transform: rotate(-360deg);
  }
}
@keyframes birdAnimation3{
  0%{
    transform: rotate(0deg);
  }
  15%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);

  }
  85%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(0deg);
  }
}
@keyframes birdAnimation4{

  15%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(90deg);
  }
  65%{
    transform: rotate(90deg);

  }
  85%{
    transform: rotate(0deg);
  }

}
@keyframes birdAnimation5{
  15%{
    transform: rotate(0deg);
  }
  35%{
    transform: rotate(-90deg);
  }
  65%{
    transform: rotate(-90deg);

  }
  85%{
    transform: rotate(0deg);
  }
}
@keyframes birdAnimation6{
  0%{
    left:55%;
  }
 25%{
  left:55%;
 }
 75%{
  left:15%;
 }
  100%{
    left: 15%;
  }
}